@media all and (min-width: 480px) {

  .Login {
    margin: 0 auto;
    padding: 60px 0;
  }

  .Login2 {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 70em;
  }

  .Login form {
    margin: 0 auto;
    max-width: 600px;
  }

  .btn-group {
    display: flex !important;
    margin: 0 auto;
    max-width: 420px;
  }

  .Login table {
    margin: 0 auto;
    max-width: 1000px;
  }

  .Login button {
    margin: 0 auto;
    max-width: 600px;
  }

  p {
    font-size: 2em;
  }

  th {
    font-size: 2em;
  }

  td {
    font-size: 2em;
  }

  label {
    font-size: 2em;
  }

  .selected {
    background-color: lightgreen;
  }

  .selected-green {
    background-color: lightgreen;
  }

  .selected-red {
    background-color: red;
  }
}
