@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 420px;
  }

  .modal {
    display: block;
  }

  .modal-dialog {
    display: block;
  }

  .fade {
    opacity: 1 !important;
  }
}
